body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

h2 {
    margin: 30px 0;
    text-align: center;
}

.grid-row {
    display: flex;
    margin-bottom: 2px;
}

.grid-row div:first-child {
    width: 30px;
    text-align: center;
    margin-right: 2px;
}

.grid-button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 2px solid white;
}

.grid-blue {
    background-color: blue;
}

.grid-red {
    background-color: red;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #222;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}
